.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.quiz-container {
  width: 50%;
  margin: auto;
  padding: 20px;
  background: #e990e9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 100px; /* Pushes content below the menu */
}

.quiz-question {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}

.quiz-options {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.quiz-button {
  width: 80%;
  padding: 12px;
  font-size: 18px;
  border: none;
  background: #ff4081;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s;
}

.quiz-button:hover {
  background: #d81b60;
}

.quiz-score {
  font-size: 24px;
  font-weight: bold;
  color: #4caf50;
}

.certificate-button {
  margin-top: 20px;
  padding: 12px 20px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background: #28a745;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.certificate-button:hover {
  background: #218838;
}